<div class="jumbotron jumbotron-fluid bg-dark">
  <div class="container-fluid">
    <h1 class="display-4 text-center text-white">Burgers</h1>
    {{!-- <img src="../public/assets/images/burger.jpg" class="img-thumbnail"> --}}
  </div>
</div>
<div class="container-fluid bg-dark text-white">

  <div class="row">
    <div class="col-sm">
      <h2>Would you eat one of these burgers?</h2>


      <ul>
        {{#each burgers}}
        {{#unless devoured}}
        {{> burgers/burger-block devour=false}}
        {{/unless}}
        {{/each}}
      </ul>
    </div>
      <div class="col-sm">
        <h2>Burgers that have been eaten</h2>

        <ul class="text-muted">
          {{#each burgers}}
          {{#if devoured}}
          {{burger_name}}
          {{/if}}
          {{/each}}
        </ul>

      </div>

    </div>

  </div>

  <div class="row bg-dark text-white">
    <div class="col-sm m-3">
      <h2>Add a Burger</h2>
      <form class="create-form m1">

        <div class="form-group">
          <label for="burger">Burger:</label>
          <input type="text" id="burger" name="burger_name">
        </div>

        <div class="form-group">
          <label for="devour">Has it been eaten?</label><br>
          <input type="radio" name="devoured" value="1"> Eaten?<br>
          <input type="radio" name="devoured" value="0" checked> Not Eaten?
        </div>

        <button type="submit" class="btn btn-dark mx2">Add Burger</button>
      </form>

    </div>

  </div>

</div>